<launch>
  <node pkg="navigation" name="field_vision" type="field_vision.py"/>
  <node pkg="navigation" name="course_correction" type="course_correction.py"/>
  <node pkg="navigation" name="field_mapper" type="field_mapper.py"/>
  <node pkg="navigation" name="end_detector" type="end_detector.py"/>
  <node pkg="navigation" name="collision_detector" type="collision_detector.py"/>
  <node pkg="navigation" name="turning_pathfinder" type="turning_pathfinder.py"/>
  <node pkg="navigation" name="sensor_jetson" type="sensor_jetson.py"/>
  <node pkg="navigation" name="spline_follower" type="spline_follower.py"/>
  <node pkg="navigation" name="navigation_control" type="navigation_control.py"/>
  <node pkg="rosserial_python" name="motion_arduino" type="serial_node.py">
  <param name="port" type="string" value="/dev/ttyACM0"/>
  <param name="baud" type="int" value="57600"/>
  </node>
</launch>
