<launch>
  <node pkg="navigation" name="field_vision" type="field_vision.py" output="screen" respawn="true">
  </node>
  <node pkg="navigation" name="course_correction" type="course_correction.py"/>
  <node pkg="navigation" name="end_detector" type="end_detector.py"/>
  <node pkg="navigation" name="collision_detector" type="collision_detector.py"/>
  <node pkg="navigation" name="navigation_control" type="navigation_control.py"/>
  <node pkg="rosserial_python" name="motion_arduino" type="serial_node.py">
    <param name="port" type="string" value="/dev/ttyUSB1"/>
    <param name="baud" type="int" value="57600"/>
    <param name="left_front" type="int" value="7"/>o
    <param name="left_rear" type="int" value="6"/>
    <param name="right_front" type="int" value="8"/>o
    <param name="right_rear" type="int" value="9"/>
  </node>
  <node pkg="rosserial_python" name="sensor_arduino" type="serial_node.py">
    <param name="port" type="string" value="/dev/ttyUSB0"/>
    <param name="baud" type="int" value="57600"/>
    <param name="ultrasonic1_trig" type="int" value="7"/>o
    <param name="ultrasonic1_echo" type="int" value="6"/>
    <param name="ultrasonic2_trig" type="int" value="7"/>
    <param name="ultrasonic2_echo" type="int" value="6"/>
    <param name="stopping_distance" type="int" value="2"/>
  </node>
  <node pkg="hokuyo_node" name="lidar" type="hokuyo_node" respawn="true">
    <param name="port" type="string" value="/dev/ttyACM0"/>
  </node>
</launch>

